.menu
  .menu_user_info
    .menu_user_info_user
      %p kei
      %ul.menu_user_info_user_box_menu
        %li.menu_user_info_user_box_menu_edit-group
          =fa_icon "pencil-square-o"
        %li.menu_user_info_user_box_menu_edit-user
          =fa_icon "cog"
  .menu_groups_info
    .menu_groups_info_group_info
      %p.menu_groups_info_name    group1
      %p.menu_groups_info_message messages
