%body
.flash_box
  .notice グループを作成しました
.body
  = render :partial => "menu"
  .main_info
    .main_info_group_info
      .main_info_group_info_group
        %h2.main_info_group_info_group_group_name group1
        %ul.main_info_group_info_group_member_name_list
          %li.member_name member : kei
      .main_info_link_edit
        =link_to "Edit", :action => 'index', :anchor => 'answer'
    .main
      .main_user
        %p kei
      .main_time_stamp
        %p 2019/04/01
      .main_message
        %p こんにちは
      .main_user
        %p name
      .main_time_stamp
        %p 2019/04/01
      .main_message
        %p さよなら
    .enter_messages
      %form.enter_messages_new_message{:action => "index", :method => "answer"}
        .enter_messages_new_message_input_form
          %input.enter_messages_new_message_input_form_input-box_text{:placeholder => "type a message" , :type => "text"}
          / %label.enter_messages_new_message_input_form_input-box_image{:for => "message_image"}
          /   %i.fa.fa-image
          / %input.input-box_image_file{:type => "file", :name => "message[image]", :id => "message_image"}
          %label.enter_messages_new_message_input_form_input-box_image{:for => "message_image"}
            = fa_icon "image"
            %input.input-box_image_file{:type => "file", :name => "message[image]", :id => "message_image"}
        %input.enter_messages_new_message_submit-btn{:type => "submit", :name => "commit", :value => "Send"}

